{% extends 'base.html' %}

{% block title %}Ubah Password{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <h2>Ubah Password Anda</h2>
    <hr>
    <form method="post" novalidate>
      {% csrf_token %}

       {# Tampilkan pesan error form (jika ada) #}
       {% if form.errors %}
         <div class="alert alert-danger">
           Terjadi kesalahan. Periksa input Anda di bawah.
           {# {{ form.non_field_errors }} #}
           {# Anda bisa juga loop field.errors di bawah jika mau #}
         </div>
       {% endif %}

      {# Render field form ubah password #}
      {# PasswordChangeView secara otomatis menyediakan 'form' dalam context #}
      {{ form.as_p }}

      <button type="submit" class="btn btn-primary">Ubah Password</button>
      <a href="{% url 'accounts:profile' %}" class="btn btn-secondary">Batal</a> {# Link kembali ke profil #}
    </form>
  </div>
</div>
{% endblock %}